{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  {% image self.blog_image fill-1200x300 as banner %}
  <img src="{{ banner.url }}" alt="{{ banner.alt }}" style='width: 100%; height: auto;'>

  <div class="container mt-5 mb-5">
    <div class="text-center">
      <h1>
        {% if self.custom_title %}
            {{ self.custom_title }}
        {% else %}
            {{ self.title }}
        {% endif %}
      </h1>

      {% if self.subtitle %}
          <h3>{{ self.subtitle }}</h3>
      {% endif %}

      {% if self.categories.count %}
        <div style="padding: 0 20px 20px">
          {% for category in self.categories.all %}
          <a href="{{ self.get_parent.url }}?category={{ category.slug }}">
                {{ category.name }}
            </a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="d-flex justify-content-center">
        {% for item in self.blog_authors.all %}
          {% image item.author.image fill-50x50 as img %}
          <div>
            <div>
              <img src="{{ img.url }}" class="rounded-circle" alt="{{ item.author.name }}">
            </div>
            {% if item.author.website %}
              <a href="{{ item.author.website }}">
                {{ item.author.name }}
              </a>
            {% else %}
              {{ item.author.name }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% if self.intro_image %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          {% image self.intro_image fill-1400x400 as intro_img %}
          <img src="{{ intro_img.url }}" alt="{{ intro_img.alt }}">
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {% for block in self.content %}
          {% include_block block %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
